<html>
	<head>
		
	</head>
	<body>
        
       
        <h3><a [routerLink]="['/chiefcomplaint']">Chief Complaint/ HPI</a></h3>
		<div class="activeproblem1">
			<div class="activeproblem2">
					<img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\diagnoses-solid.svg">
					<p>Active Problems</p>	
			</div>
		</div>
		<div class="allergies1">
			<div class="allergies2">
					<img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\allergies-solid.svg">
					<p>Allergies</p>
			</div>
		</div>
			<div id="plus1">
				<a href="#"><div id="plus">
					<img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\plus-solid.svg">
				</div></a>
			</div>
		<div class="activemedication1">
			<div class="activemedication2">
				<img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\file-prescription-solid.svg">
				<p>Active Medictions</p>
			</div>
		</div>
		<div class="recentvisits1">
			<div class="recentvisits2">
				<img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\history-solid.svg">
				<p>Recent Visits</p>
				<hr>
			</div>
		</div>
		<div class="laborders1">
			<div class="laborders2">
				<img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\bong-solid.svg">
				<p>Lab Orders</p>
			</div>
		</div>
		<div class="patientappointments1">
			<div class="patientappointments2">
				<img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\calendar-check-regular.svg">
				<p>Patient Appointments</p>
			</div>
		</div>
		<div class="patientsurgeries1">
			<div class="patientsurgeries2">
				<img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\procedures-solid.svg">
				<p>Patient Surgeries</p>
			</div>
		</div>
		<div class="vitals1">
			<div class="vitals2">
				<img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\heartbeat-solid.svg">
                <p><a [routerLink]="['/AcquireVitals']">click to Get vitals</a></p>
                
			</div>
		</div>
		<div class="actionlist1">
			<div class="actionlist2">
				<p>Action List</p>
			</div>
		</div>
		<div class="chiefcomplaint">
				<a href="#"><img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\exclamation-solid.svg">Chief Complaint</a>
		</div>
		<div class="vision">
				<a href="#"><img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\eye-solid.svg"
				>  Vision</a>
		</div>
		
		<div class="bcva">
				<a href="#"><img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\eye-solid.svg"
				>  BCVA</a>
		</div>
		<div class="iop">
				<a href="#"><img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\microscope-solid.svg"
				>  IOP</a>
		</div>
		<div class="oapthalmicexam">
				<a href="#"><img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\file-medical-solid.svg">  Oapthalmic Exam</a>
		</div>
		<div class="diagnoses">
				<a href="#"><img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\user-md-solid.svg"
				>  Diagnoses</a>
		</div>
		<div class="treatmentplan">
				<a href="#"><img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\file-prescription-solid.svg"
				>  Treatment Plan</a>
		</div>
		<div class="placeanorder">
				<a href="#"><img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\bong-solid.svg"
				>  Place an Order</a>
		</div>
		<div class="vitals">
				<a href="#"><img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\heartbeat-solid.svg"
				>  Vitals</a>
		</div>
		<div class="visitnotes">
				<a href="#"><img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\sticky-note-solid.svg"
				>  Visit Notes</a>
		</div>
    
		<div class="requestsurgery">
				<a href="#"><img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\procedures-solid.svg"
				>  Request Surgery</a>
		</div>
		<div class="generalactions1">
			<div class="generalactions2">
				<p>General Actions</p>
			</div>
		</div>
		<div class="startvisit">
				<a href="#"><img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\play-solid.svg"
				>  Start Visit </a>
		</div>
		<div class="newappointment">
				<a href="#"><img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\plus-solid.svg"
				>  New Appointment </a>
		</div>
		<div class="endvisit">
				<a href="#"><img src="C:\Users\hamza\Desktop\FYP Frontend\Dashboard\Icons\power-off-solid.svg"
				>  End Visit </a>
        </div>
        
	</body>
</html>