<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="header">
                        <div class="alert alert-danger" *ngIf="noVisit">
                            No Visit decalred yet!
                        </div>
                        <p>Patient ID: <a [routerLink] = "['/patient', patient_id]"><b style="text-decoration: underline;">{{ patient_id }}</b></a></p>
                        <h4 class="title">Acquire Vitals</h4>
                    </div>
                    <div class="content">
                        <form>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Height</label>
                                        <input type="number" class="form-control" placeholder="CM" value="" maxlength="3" [(ngModel)]="height" name="height">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Weight</label>
                                        <input type="number" class="form-control" placeholder="KG" value="1998-04-14" maxlength="3" [(ngModel)]="weight" name="weight">
                                    </div>
                                    <div class="form-group">
                                        <label>Body Mass Index</label>
                                        <input type="number" class="form-control" placeholder="" value="" maxlength="3" [(ngModel)]="bmi" name="bmi">
                                    </div>
                                    <div class="form-group">
                                        <label>Systolic Blood Pressure</label>
                                        <input type="number" class="form-control" placeholder="mmHg" value="" maxlength="3" [(ngModel)]="sys_bp" name="sys_bp">
                                    </div>
                                    <div class="form-group">
                                        <label>Diastolic Blood Pressure</label>
                                        <input type="number" class="form-control" placeholder="mmHg" value="" maxlength="3"[(ngModel)]="dia_bp" name="dia_bp"> 
                                    </div>
                                    <div class="form-group">
                                        <label>Temperature</label>
                                        <input type="number" class="form-control" placeholder="C" value="" maxlength="3" [(ngModel)]="temp" name="temp">
                                    </div>
                                    <div class="form-group">
                                        <label>Pulse</label>
                                        <input type="number" class="form-control" placeholder="/min" value="" maxlength="3" [(ngModel)]="pulse" name="pulse">
                                    </div>
                                 </div>
                            </div>
                            <p>{{ alertMessage }}</p>
                            <button type="submit" class="btn btn-info btn-fill pull-right" (click)="aquireVitals()">Update Profile</button>
                            <div class="clearfix"></div>
                        </form
                        >
                    </div>
                </div>
            </div>
   
        </div>
    </div>
</div>
